[Unit]
# Configuração da Interface Bridge
Description=Configuração da Interface Bridge
After=network.target
After=NetworkManager.service

# Comando para criar a bridge
[Service]
Type=forking
ExecStartPre=/bin/sleep 5
ExecStart=/opt/bridge-set/bridge-set create_bridge
Restart=always
RestartSec=3s

# serviço será executado durante a inicialização padrão do sistema
[Install]
WantedBy=default.target
