[Unit]
# Configuração da Interface Bridge
Description=Configuração da Interface Bridge
After=network.target
After=NetworkManager.service

# Comando para reiniciar a conexão e criar a bridge
[Service]
Type=oneshot
RemainAfterExit=true
StandardOutput=journal
# 5 segundos deve ser suficiente, mas se enfrentar problemas, é uma boa idéia aumentar o tempo em "ExecStartPre".
ExecStartPre=/bin/sleep 5
ExecStart=/opt/bridge_ip/bridge-set restart_connection
ExecStart=/opt/bridge_ip/bridge-set create_bridge

[Install]
WantedBy=default.target
