[Unit]
Description=Configuração da interface bridge e reinício da conexão
After=network.target
After=NetworkManager.service

[Service]
Type=oneshot
RemainAfterExit=true
StandardOutput=journal
ExecStart=/opt/bridge_ip/bridge_ip-set create_bridge
ExecStartPre=/bin/sleep 30
ExecStart=/opt/bridge_ip/bridge_ip-set restart_connection

[Install]
WantedBy=default.target
